* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Shared Style */


.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.green-color {
    color: #30B868;
}

.btn {
    background-color: #30B868;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    border: none;
    padding: 12px 16px;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover {
    background-color: #2a6141;
}

/* Main Style */

.header-container {
    padding-top: 16px;
}

.logo {
    max-width: 1360px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.logo img {
    width: 139px;
    height: 60px;
}

.list-container {
    display: flex;
    list-style: none;
    gap: 32px;
}

.list-container li a {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
}

