* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Shared Style */


.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.green-color {
    color: #30B868;
}

.btn {
    background-color: #30B868;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    border: none;
    padding: 12px 16px;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover {
    background-color: #2a6141;
}

/* Main Style */
/* Nav Bar Started */

.header-container {
    padding-top: 16px;
}

.logo {
    max-width: 1360px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 16px;
}

.logo img {
    width: 139px;
    height: 60px;
}

.list-container {
    display: flex;
    list-style: none;
    gap: 32px;
}

.list-container li a {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
}

/* Nav Bar End */

/* Hero Section Start */

.hero-container {
    background-image: url("../assets/hero-bg.png");
    text-align: center;
}

.dot {
    height: 16px;
    width: 16px;
    border-radius: 8px;
    display: inline-block;
    background-color: #30B868;
}

.early-btn {
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    color: #30B868;
    padding: 8px 12px;
    gap: 6px;
    border-radius: 1000px;
    margin-top: 115px;
    background-color: #FFFFFF;
    cursor: pointer;
}

.early-btn:hover {
    background-color: #cfbebe;
}

.hero-container h1 {
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
    margin-top: 24px;
    color: #FFFFFF;
    text-transform: capitalize;
}

.hero-container p {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 16px;
    margin-bottom: 48px;
}

.btn-triangle {
    border-top: 10px solid transparent;
	border-left: 20px solid #FFFFFF;
	border-bottom: 10px solid transparent;
    display: inline-block;
}

.hero-bottom-btn {
    margin-bottom: 179px;
    margin-left: 16px;
    padding: 12px 16px;
    color: #FFFFFF;
    border-radius: 4px;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    cursor: pointer;
}

.hero-bottom-btn:hover {
    background-color: #3a2828;
}
/* Hero Section End */

/* Notes Section Start */

.notes-container {
    max-width: 1360px;
    margin: 0 auto;
    text-align: center;
}

.notes-header h2 {
    color: #001931;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    text-transform: capitalize;
    margin-top: 76px;
    margin-bottom: 16px;
}

.notes-header p {
    color: #627382;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 44px;
}

.notes-card-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
}

.notes-card {
    max-width: 322px;
    max-height: 300px;
}

.notes-card img {
    background-color: rgba(249, 85, 85, 1);
    margin-top: 69px;
    margin-bottom: 16px;
    height: 32px;
    width: 32px;
    border-radius: 50%;
}

.notes-card h2 {
    color: #001931;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    margin-bottom: 16px;
}

.notes-card p {
    color: #627382;
    margin: 0px 24px 21px;
}

/* Notes Section End */

/* second Brain Section Start */

.second-brain-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 1360px;
    margin: 0 auto;
    padding: 120px 0px;
}

.second-brain-container .knowledge-img {
    width: 600px;
    height: 600px;
}

.solution-container {
    margin-left: 60px;
}

.second-brain-container p {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #627382;
    margin-bottom: 16px;
}

.second-brain-container h2 {
    color: #001931;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    margin-bottom: 16px;
}

.details-container h4 {
    display: flex;
    color: #001931;
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
}

.details-container h4 img {
    padding-right: 6px;
}
/* second Brain Section End */
